<nav
  class="sticky w-full border border-amber-100/5 top-1 flex justify-between items-center py-1 px-4 max-w-6xl mx-auto rounded-full shadow backdrop-blur-xl z-50 bg-amber-50/20"
>
  <h2 class="text-2xl">HFN</h2>
  <a href="https://github.com/Xeven777/hn-news" target="_blank">
    <button
      class="bg-amber-950 rounded-full px-6 py-2 text-amber-50 hover:opacity-80 active:scale-95 duration-300 z-50"
      type="button">Github</button
    >
  </a>
</nav>
