<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>HackerFunNews</title>
    <meta property="og:title" content="HackerFunNews" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://hn-news.vercel.app/" />
    <meta
      property="og:description"
      content="Top 5 news from HN but with the fun of AI generated headlines and images!"
    />
    <meta
      property="og:image"
      content="https://i.postimg.cc/tTzNh0Yd/Screenshot-2024-12-13-214134.jpg"
    />
    <meta
      name="description"
      content="Top 5 news from HN but with the fun of AI generated headlines and images!"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    class="bg-gradient-to-br from-amber-50 to-amber-100 text-amber-950 selection:bg-stone-700 selection:text-stone-200"
  >
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    min-height: 100svh;
    font-family: "Cardo", serif;
  }
</style>
